/* Configuração de cores */
:root {
    --background-color: #f7f7f7;
    --header-background: #0c1b33;
    --highlight-color: #d4af37; /* Dourado */
    --text-color: #333;
    --button-background: #0c1b33;
    --button-hover: #d4af37;
  }
  
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
  }
  
  /* Cabeçalho */
  header {
    background-color: var(--header-background);
    color: #fff;
    padding: 1.5em;
    text-align: center;
  }
  
  header h1 {
    font-family: 'Georgia', serif;
    font-size: 2.5em;
    color: var(--highlight-color);
    margin-bottom: 0.2em;
  }
  
  header nav {
    margin-top: 1em;
  }
  
  header nav a {
    color: #fff;
    text-decoration: cadetblue;
    margin: 0 15px;
    font-size: 1.1em;
  }
  
  header nav a:hover {
    color: var(--highlight-color);
  }
  
  /* Conteúdo principal */
  section {
    max-width: 900px;
    margin: auto;
    padding: 2em;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
  }
  
  section h2 {
    font-family: 'Georgia', serif;
    font-size: 1.8em;
    color: var(--header-background);
    margin-bottom: 1em;
    border-left: 5px solid var(--highlight-color);
    padding-left: 0.5em;
  }
  
  /* Formulários */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 1em;
    font-weight: bold;
    color: var(--header-background);
  }
  
  input, select {
    padding: 10px;
    font-size: 1em;
    margin-top: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Layout aprimorado para inputs e botões */
input, select {
  padding: 10px;
  margin: 5px 0;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

button {
  background-color: var(--highlight-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover);
  transform: scale(1.05);
}
  
  /* Listas */
  ul {
    list-style-type: none;
    margin-top: 1em;
    padding-left: 0;
  }
  
  ul li {
    background: #fff;
    padding: 1em;
    margin-bottom: 0.5em;
    border-left: 5px solid var(--highlight-color);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Login específico */
  #loginError {
    color: #ff4d4d;
    margin-top: 1em;
    font-weight: bold;
  }
  
  /* Rodapé */
  footer {
    text-align: center;
    padding: 1em;
    background: var(--header-background);
    color: #fff;
    font-size: 0.9em;
  }
  
  footer a {
    color: var(--highlight-color);
    text-decoration: none;
  }